/Codigos/EjemploWebAPI/WebApplication1/.vs/WebApplication1/config/applicationhost.config
/Codigos/EjemploWebAPI/WebApplication1/.vs/WebApplication1/v16/.suo
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.deps.json
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.dll
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.exe
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.pdb
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.runtimeconfig.dev.json
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/WebApplication1.runtimeconfig.json
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/appsettings.Development.json
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1/appsettings.json
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.AssemblyInfo.cs
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.AssemblyInfoInputs.cache
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.MvcApplicationPartsAssemblyInfo.cache
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.MvcApplicationPartsAssemblyInfo.cs
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.RazorTargetAssemblyInfo.cache
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.assets.cache
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csproj.CopyComplete
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csproj.CoreCompileInputs.cache
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csproj.FileListAbsolute.txt
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csprojAssemblyReference.cache
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.dll
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.exe
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.genruntimeconfig.cache
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.pdb
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/staticwebassets/WebApplication1.StaticWebAssets.Manifest.cache
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/staticwebassets/WebApplication1.StaticWebAssets.xml
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.g.props
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.g.targets
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/project.assets.json
/Codigos/EjemploWebAPI/WebApplication1/WebApplication1/obj/project.nuget.cache
